<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="DevExpress" value="https://nuget.devexpress.com/api" />
  </packageSources>
  
  <packageSourceMapping>
    <!-- Map all DevExpress packages to the DevExpress source -->
    <packageSource key="DevExpress">
      <package pattern="DevExpress.*" />
    </packageSource>
    
    <!-- Map all other packages to nuget.org -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
